/* apps/frontend/src/index.css */
@import "tailwindcss";

/* Kustomisasi tema langsung di sini, menggantikan tailwind.config.js */
@theme {
  --color-primary: #0f172a;
  --color-secondary: #3b82f6;

  /* Anda bisa menambah variabel lain di sini */
  --font-sans: "Inter", "ui-sans-serif", "system-ui";
}
